* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app-wrapper {
    display: grid;
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;

    grid-template-areas:
  "h h"
  "n c";

    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;
}

.header {
    grid-area: h;
    background-color: aquamarine;
}

.header img {
    width: 60px;
}

.navbar {
    grid-area: n;
    background-color: brown;
}

.nav-links {
    grid-area: c;
    background-color: aqua;
}

.navbar .active {
    color: black;
}